{%extends 'base.html'%}
{%block title%}
<title>Про магазин</title>
{%endblock%}

{%block body%}
    <div class="container mt-5">
        <h1>Вся информация о магазине</h1>
        <p>Pricing for iPhone 13 and iPhone 13 mini includes a $30 carrier instant discount that requires activation with AT&T, T-Mobile, Sprint, or Verizon. Available to qualified customers and requires 24-month installment loan when you select Citizens One or Apple Card Monthly Installments (ACMI) as payment type at checkout at Apple. </p>
    </div>
{%endblock%}